<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/team.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Manager</th>
                    <th>Added By</th>
                </tr>
                </thead>
                <tbody>
                {{#each teams}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{manager}} </td>
                        <td> {{user.firstName}} {{user.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>