<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <header class="ui header">Add a Team</header>
            {{> addTeam }}
        </aside>
        <article class="eight wide column">
            <header class="ui header">Added Teams</header>
               {{> teams}}
        </article>
    </div>
</section>