{{> welcomemenu }}

<section class="ui stacked segment">
        <div class="ui grid">
            <aside class="six wide column"><img src="images/statlogo.png" class="ui medium image" /></aside>
            <article class="ten wide column">
                <header class="ui  header">Start adding Stat's</header>
            </article>
        </div>
</section>