<section class="ui stacked segment">
    <div class="ui grid">
        <article class="ten wide column">
            <div class="ui segment">
                <header class="ui header">{{team.name}}</header>
                <h4>Manager</h4>
                <td>{{team.manager}}</td>
                <div class="ui container">
                    <a href="/report"><button class="ui blue button">Update</button></a>
                </div>
            </div>
        </article>
    </div>
</section>